a {
    color: #64B5F6;
}

.PokemonDetailID{
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;    
    padding-left: 2px;
    padding-top: 8px;
    text-overflow: ellipsis;  
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    color: #5090C4;

    @media (min-width: 576px) {        
        font-size: 22px;  
        padding-bottom: 16px;              
    }

    & > p {
        margin: 0;
    }
}

.PokemonDetailHead{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    align-self: center;
    border-radius: 2px;
    padding: 8px 8px;
    margin-bottom: 8px;

    @media (min-width: 576px) {
        padding: 16px 16px;    
    }
    
    &:active {
        box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.25);        
        opacity: 0.3;
    }
}

.PokemonDetailHeadName{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;    
    padding-bottom: 5px;
    color: black;  
    text-overflow: ellipsis;  
    overflow: hidden; 
    white-space: nowrap;

    @media (min-width: 576px) {        
        font-size: 32px;                
    }
}

.PokemonDetailHeadImage{
    padding-bottom: 5px;
    margin: -18px -18px;
}

.PokemonDetailHeadType{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    padding: 3px 14px;
    border-radius: 3px;

    font-size: 10px;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;      
    text-transform: uppercase;
    text-overflow: ellipsis;  
    overflow: hidden; 
    white-space: nowrap;
    max-width: 75px;
    color: white;

    @media (min-width: 576px) {        
        font-size: 16px;
        padding: 3px 21px;
        max-width: 120px;
    }

    &.Normal {
        background-color: #A8A878;
    }

    &.Fire {
        background-color: #F08030;
    }

    &.Fighting {
        background-color: #C03028;
    }

    &.Water {
        background-color: #6890F0;
    }

    &.Flying {
        background-color: #A890F0;
    }

    &.Grass {
        background-color: #78C850;
    }

    &.Poison {
        background-color: #A040A0;
    }

    &.Electric {
        background-color: #F8D030;        
    }

    &.Ground {
        background-color: #E0C068;
    }

    &.Psychic {
        background-color: #F85888;        
    }

    &.Rock {
        background-color: #B8A038;
    }

    &.Ice {
        background-color: #98D8D8;        
    }

    &.Bug {
        background-color: #A8B820;
    }

    &.Dragon {
        background-color: #7038F8;        
    }

    &.Ghost {
        background-color: #705898;
    }

    &.Dark {
        background-color: #705848;        
    }

    &.Steel {
        background-color: #B8B8D0;
    }

    &.Fairy {
        background-color: #EE99AC;        
    }

    &.Undetermined {
        background-color: #68A090;        
    }
}

.PokemonDetailSectionTitle{
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;    
    padding-left: 2px;
    padding-bottom: 8px;
    text-overflow: ellipsis;  
    overflow: hidden;
    white-space: nowrap;
    
    @media (min-width: 576px) {        
        font-size: 22px;  
        padding-bottom: 16px;              
    }

    & > p {
        margin: 0;
    }
}

.PokemonDetailSection{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 8px 8px;
    margin-bottom: 20px;

    @media (min-width: 576px) {
        padding: 16px 16px;    
    }
    
    &:active {
        box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.25);        
        opacity: 0.3;
    }
}
