.HomeWelcome {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #64b5f6;
    padding: 14px;
    margin-bottom: 16px;
    border-radius: 3px;
    background-color: #eff7fe;
}

.HomeLogin {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    align-self: center;
    border-radius: 3px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 16px 16px;

    @media (min-width: 576px) {
        width: 480px;
        padding: 16px 80px;
    }
}

.HomeLoginTitle{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #ef5350;
    padding-bottom: 5px;
}

.HomeLoginCaption{
    font-size: 14px;
    line-height: 1.2;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    padding-bottom: 12px;
}

.HomeUsername{
    padding-bottom: 8px;

    & > input {
        border-color: #f7a9a7;

        &:hover {
            border-color: #ef5350;
        }        
    }

    & > div > span {
        background-color: #fbdcdc;
        color: #ef5350;
        border-color: #f7a9a7;
        &:hover {
            border-color: #ef5350;
        }   
    }
}

.HomePassword{
    padding-bottom: 8px;

    & > input {
        border-color: #f7a9a7;

        &:hover {
            border-color: #ef5350;
        }        
    }

    & > div > span {
        background-color: #fbdcdc;
        color: #ef5350;
        border-color: #f7a9a7;
        &:hover {
            border-color: #ef5350;
        }   
    }
}

.HomeCreateAccount{
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    padding-bottom: 8px;
    & > p {
        margin: 0;
    }
}

.HomeLoginButton{
    font-size: 21px;
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    margin: 0;    
    margin-top: 12px;
    padding: 12px 32px;    
    color: #d74a48;
    background-color: #fdeded;
    border: 0px solid;
    border-radius: 3px;
    
    &:hover{
        background-color: #fbdcdc;
    }
}