.PokedexSearchBar{
    margin-bottom: 16px;    
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25) !important;
    
    & > input {        
                
        border: 0px;

        &:hover {
            border-color: #757575;
        }        
    }
}

.PokedexButton{
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;    
    padding: 3px 21px;
    background-color: transparent;
    margin: 0;

    &.Clean{  
        color: #d74a48;
        border: 0px solid #d74a48;
        background-color: #fdeded;
        &:hover{
            background-color: #fbdcdc;
        }
    }
    
    &.Search{
        color: #757575;
        border: 0px solid #757575;
        background-color: #e3e3e3;
        &:hover{
            background-color: #d5d5d5;         
        }
    } 
}

hr {
    margin: 0;  
    border-top: 1px solid;
    color: #facbca !important;    
    width: 100%; 
}

.PokedexResultsTitle{
    font-size: 12px;
    line-height: 1.2;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    letter-spacing: normal;    
    padding-bottom: 16px;
    color: #ef5350;
}